
/* GERAL */

header, footer {
    text-align: center;
}

header img {
    width: 70%;
    max-width: 600px;
    min-width: 400px;
}

footer {
    color: blue;
}

footer img {
    max-width: 30px;
    min-width: 30px;
    width: 30px;
}

/* INDEX */

.areaiframe {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.iframe-grelha {
    width: 30%;
    border: none;
}
@media only screen and (max-width: 800px) {
    .iframe-grelha {
        width: 45%;
        border: none;
    }  
}

@media only screen and (max-width: 500px) {
    .iframe-grelha {
        width: 100%;
        border: none;
    }
}

/* SOFTDEV */

table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
}

th {
    background-color: bisque;
}

td:hover {
    background-color: blue;
}

/* FORM */

.operadora {
    border-style: dotted;
    background-color: azure;
}

/* 
id -> # 
class -> . */