/* p {
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15%;
    background-color: aqua;
    color: black;
    text-align: center;
    padding: 40px;
} */

header, footer {
    text-align: center;
}

header img {
    width: 70%;
    max-width: 600px;
    min-width: 400px;
}

footer {
    color: blue;
}

footer img {
    max-width: 30px;
    min-width: 30px;
    width: 30px;
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
}

th {
    background-color: bisque;
}

td:hover {
    background-color: blue;
}

/* 
id -> # 
class -> . */