/* GERAL */

h2,h3{
    text-align: center;
    color: #0F1B40;
}

/* NAVBAR */

.navbar {
    background-color:#0F1B40;
}

.navbar-brand {
    color:#fbfbff;
    font-size: 30px;
}

.navbar-brand:hover {
    color:#fbfbff;
}

.nav-link {
    color: #fbfbff;
}

.nav-link:hover {
    color: #F2D022;
}

.nav-link.active {
    color:#F2D022;
}

/* IMAGEM CARROSSEL */

.bg {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  /* FOOTER */

 .card-footer {
    background-color: #0F1B40;
    color: #fbfbff;
    padding: 25px;
 }

 .btn-footer {
    background-color: #F2D022;
    color: #0F1B40;
 }

 .btn-footer:hover {
  background-color:#d2c56f;
    color:#0F1B40;
 }

 /* CARDS DA PÁGINA HOME */

 .card-home {
    position: relative;
    overflow: hidden;
  }

 .card-home img {
    height: 350px;
    object-fit: cover;
    transition: opacity 0.5s ease;
  }
  .card-home:hover img {
    opacity: 0.5;
  }

  .card-home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#0F1B40;
    font-size: 25px;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .card-home:hover .card-home-text {
    opacity: 1;
  }
  .card-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }

/* CARDS ELENCO */

 .card-img {
    height: 350px;
    object-fit: cover;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* FORMULÁRIO CONTACTO POPUP */

  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fbfbff;
    background-color:#0F1B40;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    z-index: 1;
  }
  .popup-close {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
  }

  .btn-form {
    background-color: #F2D022;
    color:#0F1B40;
    border-radius: 6px;
 }

 .btn-form:hover {
  background-color:#d2c56f;
  color:#0F1B40;
 }

 .submitStatus{
  font-size: 12px;
 }

 /* SOBRE O FILME */

 .imagem-sinopse{
  text-align: left;
 }

 .img-sinopse{
  width: 270px;
  height: 400px;
 }

 .sinopse{
  text-align: right;
 }

 .premios{
  text-align: left;
 }

 .img-oscars{
  width: 270px;
  height: 400px;
 }

 .imagem-premios{
  text-align: right;
 }

